:root {
        --activityBar-background: #ffffff;
        --activityBar-font: #383737;
        --activityBar-notifications-background: #007ACC;
        --activityBar-notifications-color: #ffffff;
        --activityBar-selected-indicator: #29395C;
        --activityBar-selected: #29395C;
        --activityBar-tip-background: #ffffff;
        --activityBar-tip-border: #29395C;
        --activityBar-unselected: #858585;
        --background: #ffffff;
        --dragbar-color: #29395C;
        --sideBar-background: #dbdbdb;
        --statusBar-background: #29395C;
}