.horiz-container, .vertical-container{
        height: 100%;
        width: 100%;
        padding: 0;
        background: var(--background);
}

.activitybar {
        position:absolute;
        top: 0;
        left: 0;
        height: calc(100% - var(--statusBar-height));
        background: var(--activityBar-background);
        color: #fff;
        width: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
}

.actions-container {
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        margin-bottom: auto;
}

.settings-container {
        justify-content: flex-end;
        padding: 0;
        margin: 0;
}

.action-item, .settings-item {
        outline: 0;
        border: 0;
        padding: 0;
        background: none;
        width: 48px;
        height: 48px;
        display: block;
        position: relative;
}

.inside-button {
        position: absolute;
}

.hidden {
        display: none;
}

.active-indicator {
        visibility: hidden;
        opacity: 0;
        background-color: var(--activityBar-selected-indicator);
        padding: 0;
        left: 0;
        top: 0;
        height: 48px;
        width: 2px;
        z-index: 2;
}



.icon {
        width: 32px;
        height: 32px;
        color: var(--activityBar-selected);
        pointer-events: none;
        z-index: 1;
        left: 8px;
        top: 8px;
        opacity: 60%;
}

.action-item:hover .icon,
.settings-item:hover .icon{
        color: var(--activityBar-selected);
}

.active {
        visibility: visible;
        opacity: 1;
}