.context-menu {
    position: absolute;
    /* background: #1D1D1D; */
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100001;
    width: 320px;
    max-height: 50%;
    overflow-y: auto;

    background: #1D1D1D63;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(29, 29, 29, 0.62);

    & .group {
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;

        & .entry {
            padding: 5px 10px 5px 10px;
            display: flex;
            flex-direction: row;
            row-gap: 5px;

            & .title {
                text-decoration: none;
                color: var(--context-menu-font);
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }

            & .keybind {
                text-decoration: none;
                color: var(--context-menu-font);
                opacity: 60%;
                margin-left: auto;
            }

            &:hover {
                background-color: #a5a5a525;
            }

            &:hover .keybind{
                opacity: 100%;
            }
        }
    }

    & .separator {
        pointer-events: none;
        background: var(--context-menu-font);
        opacity: 60%;
        height: 1px;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 100000;
}