.main-view-container {
  position: absolute;
  background-color: var(--background);
  top: 0;
  height: calc(100% - var(--statusBar-height));
}

.splash-icon {
  width: 320px;
  height: 100%;
  color: #ff9900;
  pointer-events: none;
  z-index: 1;
}

.editor-container {
  position: relative;
  display: flex;
  top: 0;
  width: 100%;
  height: calc(100% - var(--terminalView-height));
  z-index: 1;
  background-color: var(--background);
}

.editor-ver {
  flex-direction: row;
}

.editor-hor {
  flex-direction: column;
}

.editor-instance {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--sideBar-background);
}

.editor-instance-inactive {
  & .editor-tab-container {
    & .editor-tab-entry {
      & .editor-tab-entry-close {
        opacity: 40%;
      }
    }
  }
}

.editor-container-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.editor {
  height: calc(100% - 45px);
  width: 100%;
  display: flex;
  background-color:var(--background);
  border-top: 10px solid var(--background);

  & .cm-theme {
    height: 100%;
    width: 100%;
  }
}

.terminal-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  height: var(--terminalView-height);
}

.terminal-tab-container {
  background-color: var(--background);
  border-top: 1px solid var(--activityBar-background);
  height: 100%;
  width: 100%;
}

.editor-tab-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  color: white;
  height: 35px;
}

.editor-tab-entry {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  height: 100%;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  gap: 5px;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border-right: 1px solid var(--sideBar-background);
}

.editor-tab-entry:hover svg {
  visibility: visible !important;
}

.editor-tab-entry-selected {
  background-color: var(--background);
}

.editor-tab-entry-unselected {
  background-color: var(--activityBar-background);
}

.editor-tab-entry-label {
  font-size: 13px;
  text-align: center;
  pointer-events: none
}

.editor-tab-entry-label-preview {
  font-style: italic;
}

.editor-tab-entry-icon {
  width: 16px;
  height: 16px;
  display: flex;
}

.editor-tab-entry-close {
  font-size: 13px;
  padding: 2px;
  size: 16px 16px;
  border-radius: 50px;
}

.editor-tab-entry-close-hidden {
  visibility: hidden;
}

.editor-tab-entry-close:hover {
  background-color: var(--activityBar-unselected);
}

.cm-editor {
  width: 100%;
  height: 100%;
}
