.sideBar {
	background-color: var(--sideBar-background);
	position:absolute;
	top: 0;
	left: 48px;
	z-index: 1;
	height: calc(100% - var(--statusBar-height));
	display: flex;
	flex-direction: column;

	& .title-container {
		height: 35px;
		padding-left: 8px;
		padding-right: 8px;
		
		& .title {
			overflow: hidden;
			padding-left: 12px;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 100%;
			display: flex;
			align-items: center;
		}
	}

	& .content {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 1px;
		flex-grow: 1;
		overflow-y: hidden;

		& .entry {
			border-top: 1px solid var(--activityBar-background);
			padding-top: 3px;
			background-color: var(--sideBar-background);
			height: fit-content;
			width: 100%;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			overflow-y: hidden;
			min-height: 22px;

			&:hover .action-menu,
			&:focus-within .action-menu {
				display: flex;  
			}

			& .title-container {
				height: 22px;
				min-height: 22px;
				padding-left: 2px;
				padding-right: 2px;

				& h2 {
					color: var(--activityBar-font);
				}
			}

			& .content-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				overflow-x: hidden;
				flex-grow:1;
				min-height: 30vh;
			}
		}
	}
}

.view-content {
	background-color: inherit;

	&[drop-active=true] .tree-entry{
		background-color: var(--activityBar-unselected);
		transition-delay: 0.1s;
	}

	&:hover .tree-indent {
		opacity: 50%;
	}

	& .tree-indent {
		width: 8px;
		min-width: 8px;
		border-right: 1px solid #ff9100;
		opacity: 0;
	}

	& .tree-entry {
		display: flex;
		cursor: pointer;
		height: 22px;
		background-color: inherit;
		padding: 0 12px 0 6px;

		&:hover {
			background-color: #2a2d2e;

			& .tree-action-menu {
				display: flex;  
			}
		}

		&:focus {
			background-color: #7e6207;
		}

		& label {
			padding-left: 5px;
			font-size: 13px;
			color: var(--activityBar-font);
			align-self: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		& .description {
			padding-left: 5px;
			font-size: 9px;
			color: var(--activityBar-font);
			opacity: 60%;
			align-self: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			height: 15px;
			display: flex;
			align-items: end;
		}

		& .icon {
			height: 22px;
			width: 16px;
			min-width: 16px;
			padding-right: 6px;
			display: flex;
			justify-content: center;
		}
	}

	& .selected {
		background-color: var(--activityBar-background) !important;
	}
}

.title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.collapse-indicator {
	height: 22px;
	width: 16px;
	min-width: 16px;
	padding: 0 6px 0 0;
	opacity: 60%;
}

.action-menu,
.tree-action-menu {
	height: 20px;
	margin-left: auto;
	display: none;
	flex-direction: row;
	align-items: center;
}

h2 {
	cursor: default;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	color: #bbbbbb;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}