.sideBar {
        background-color: var(--sideBar-background);
        width: var(--sideBar-width);
        position:absolute;
        top: 0;
        left: 48px;
        z-index: 1;
        height: calc(100% - var(--statusBar-height));
}